.status-bar {
    box-sizing: content-box;
    margin: 2px;
    color: white;
    font-weight: 600;
    background-color: hsla(0, 0%, 0%, 0.15);
    display: flex;
    flex-direction: column;
}

.status-bar-name {
    padding: 6px 6px 6px; 
}

.status-bar-progress {
    /* width: 100%; */
    margin: 8px;
    background-color: #404751;
}

.status-bar-progress .bar {
    width: 1%;
    height: 18px;
    background-color: rgb(255, 255, 255);
    transition: 150ms;
}

hr {
    height: 2px;
    border: none;
    background-color: white;
}
